<ns-action-bar
  title="Login"
  [showBackButton]="true"
  [hasMenu]="false"
  [hasHome]="true"
></ns-action-bar>
<ScrollView>
  <FlexboxLayout class="login-main-page animation-slideup">
    <ns-app-icon></ns-app-icon>
    <StackLayout [formGroup]="form" class="form" marginTop="50">
      <StackLayout class="input-field">
        <Label
          class="label"
          text="Email address"
          [ngClass]="{ invalid: !emailControlIsValid }"
        ></Label>
        <TextField
          class="input"
          returnKeyType="next"
          keyboardType="email"
          [autocorrect]="false"
          autocapitalizationType="none"
          formControlName="email"
          [isEnabled]="!isLoading"
          #emailEl
        ></TextField>
        <Label
          *ngIf="!emailControlIsValid"
          text="*Please enter a valid email address"
          color="red"
        ></Label>
      </StackLayout>
      <StackLayout class="input-field" marginTop="30">
        <Label
          class="label"
          text="Password"
          [ngClass]="{ invalid: !passwordControlIsValid }"
        ></Label>
        <TextField
          class="input"
          returnKeyType="done"
          [autocorrect]="false"
          autocapitalizationType="none"
          [secure]="true"
          hint="Min 6 characters"
          formControlName="password"
          [isEnabled]="!isLoading"
          #passwordEl
        ></TextField>
        <Label
          *ngIf="!passwordControlIsValid"
          text="*Please enter a your password to continue"
          color="red"
        ></Label>
      </StackLayout>
      <StackLayout class="input-field" marginTop="30">
        <Button
          class="-primary -rounded-lg secondary-bgcolor"
          marginTop="20"
          (tap)="onSubmit()"
          text="Login"
          *ngIf="!isLoading"
        ></Button>
        <ActivityIndicator
          [busy]="isLoading"
          marginTop="30"
        ></ActivityIndicator>
      </StackLayout>
      <StackLayout class="input-field" *ngIf="!isLoading">
        <Label
          class="third-color text-center"
          text="Forgot Password?"
          (tap)="onForgotPassword()"
        ></Label>
      </StackLayout>
      <StackLayout class="input-field" *ngIf="!isLoading" marginBottom="35">
        <Label
          class="third-color text-center"
          text="Register a new account today!"
          (tap)="onRegister()"
        ></Label>
      </StackLayout>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>
