@import '../../../theme/colors';

FlexboxLayout.register-main-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  Label.accepting-tos-privacy,
  Label.accepting-tos-privacy Span {
    font-size: 13;
    color: $gray;
  }

  .form {
    .input-field {
      width: 90%;
    }
  }
}
