<GridLayout rows="auto,*,90" columns="*" *ngIf="!isLoading">
  <FlexboxLayout class="home-screen-main-page" row="0" col="0">
    <ns-app-icon></ns-app-icon>
    <AbsoluteLayout class="search-location animation-fadein animation-pulsate" (tap)="onSearchLocation()">
      <Label text="&#xf002;" class="fas search-icon"></Label>
      <Label class="search-input" text="Where To?"></Label>
    </AbsoluteLayout>
  </FlexboxLayout>
  <ScrollView class="main-container" row="1" col="0">
    <FlexboxLayout class="landscape-page">
      <Label
        class="landscape-title"
        text="Popular Locations"
      ></Label>
      <StackLayout
        class="landscape-image-container animation-slideup"
        *ngFor="let landscape of landscapeList"
      >
        <StackLayout
          class="landscape-image"
          [backgroundImage]="landscape.landscapeImage"
        ></StackLayout>
        <Label
          class="landscape-caption"
          [text]="landscape.landscapeCaption"
        ></Label>
      </StackLayout>
    </FlexboxLayout>
  </ScrollView>
  <FlexboxLayout class="bottom-container" row="2" col="0">
    <Button
      text="Logout"
      class="-rounded-md -primary secondary-bgcolor"
      margin="0"
      horizontalAlignment="center"
      (tap)="onLogout()"
      *ngIf="isAuth"
    ></Button>
    <Button
      text="Login"
      class="-rounded-md -primary secondary-bgcolor"
      margin="0"
      horizontalAlignment="center"
      (tap)="onLogin()"
      *ngIf="!isAuth"
    ></Button>
    <Label
      class="third-color text-center"
      text="Or, register a FREE account now"
      (tap)="onRegister()"
      *ngIf="!isAuth"
    ></Label>
  </FlexboxLayout>
</GridLayout>
<FlexboxLayout justifyContent="center" alignItems="center" *ngIf="isLoading">
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</FlexboxLayout>
