<GridLayout rows="auto,*,100" columns="*">
  <FlexboxLayout class="main-page" row="0" col="0">
    <FlexboxLayout class="app-icon animation-fadein">
      <Image src="~/images/logo.png"></Image>
    </FlexboxLayout>
    <AbsoluteLayout class="search-location animation-fadein animation-pulsate">
      <Label text="&#xf59f;" class="fas search-icon"></Label>
      <TextField class="search-input" hint="Where To?"></TextField>
    </AbsoluteLayout>
  </FlexboxLayout>
  <ScrollView class="main-container" row="1" col="0">
    <FlexboxLayout class="landscape-page">
      <Label
        class="landscape-title"
        text="Featured Locations. Most Popular"
      ></Label>
      <StackLayout
        class="landscape-image-container animation-slideup"
        *ngFor="let landscape of landscapeList"
      >
        <StackLayout
          class="landscape-image"
          [backgroundImage]="landscape.landscapeImage"
        ></StackLayout>
        <Label
          class="landscape-caption"
          [text]="landscape.landscapeCaption"
        ></Label>
      </StackLayout>
    </FlexboxLayout>
  </ScrollView>
  <FlexboxLayout class="bottom-container" row="2" col="0">
    <Button
      text="Login"
      class="-rounded-md -primary secondary-bgcolor"
      margin="0"
      horizontalAlignment="center"
      [nsRouterLink]="['auth-login']"
      pageTransition="slideRight"
    ></Button>
    <Label
      class="third-color text-center"
      text="Or, register a FREE account now"
      [nsRouterLink]="['auth-register']"
      pageTransition="slideRight"
    ></Label>
  </FlexboxLayout>
</GridLayout>
