@import '../../../theme/colors';

FlexboxLayout.forgot-password-main-page {
    StackLayout.forgot-password-completed-request {
        Label {
            font-family: 'Afternoon Coffee';
            letter-spacing: 0.08;
            font-size: 20;
            padding: 35;
            color: $primary;
            text-align: center;
            margin: 100 auto 20 auto;
        }
        Button {
            width: 150;
            font-size: 16;
        }
    }

    StackLayout.form {
        Label.forgot-password-title {
            font-family: 'Afternoon Coffee';
            letter-spacing: 0.08;
            font-size: 18;
            padding: 20;
            color: $gray;
            text-align: center;
            margin: 20 auto 50 auto;
        }

        Button.forgot-password-submit {
            width: 120;
        }
    }
}
