<ns-action-bar
  title="Forgot Password"
  [showBackButton]="true"
  [hasMenu]="false"
  [hasHome]="true"
></ns-action-bar>
<FlexboxLayout class="forgot-password-main-page animation-slideup">
  <StackLayout [formGroup]="form" class="form">
    <Label class="forgot-password-title" textWrap="true" text="Let's find your account. Enter your email so we can send you instructions to reset your password"></Label>
    <StackLayout class="input-field">
      <Label
        class="label"
        text="Email address"
        [ngClass]="{ invalid: !emailControlIsValid }"
      ></Label>
      <TextField
        class="input"
        returnKeyType="next"
        keyboardType="email"
        [autocorrect]="false"
        autocapitalizationType="none"
        formControlName="email"
        [isEnabled]="!isLoading"
        #emailEl
      ></TextField>
      <Label
        *ngIf="!emailControlIsValid"
        text="*Please enter a your email address to generate a new password"
        color="red"
      ></Label>
    </StackLayout>
    <StackLayout class="input-field">
      <Button
        class="-primary -rounded-lg secondary-bgcolor forgot-password-submit"
        marginTop="20"
        (tap)="onSubmit()"
        text="Send email"
        *ngIf="!isLoading"
      ></Button>
      <ActivityIndicator [busy]="isLoading" marginTop="30"></ActivityIndicator>
    </StackLayout>
  </StackLayout>
</FlexboxLayout>
