<ActionBar [title]="title" (loaded)="onLoadedActionBar()">
  <NavigationButton
    text="Back"
    android.systemIcon="ic_menu_back"
    (tap)="onGoBack()"
    *ngIf="canGoBack"
  ></NavigationButton>
  <ActionItem *ngIf="hasMenu" ios.position="left" (tap)="onToggleMenu()">
    <Label text="&#xf0c9;" class="fas"></Label>
  </ActionItem>
  <ActionItem *ngIf="hasHome" ios.position="right" (tap)="onHome()">
    <Label text="&#xf015;" class="fas"></Label>
  </ActionItem>
  <ng-content></ng-content>
</ActionBar>
